body{
    background-color:black;
    }
    img:hover{
        width:50%;
        height:55%;
        content: url(bolsonaro126446.jpg);
    }
    img{
        width:50%;
        height:55%;
    }
    h2{
        color: brown;
    }